* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
    color:antiquewhite;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}


.app {
    color: antiquewhite;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}

    .app .up-player {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/BTSBackground.jpg) center bottom no-repeat;
        background-size: contain cover;
        height: 65%;
        width: 100%;
    }
    .app .nav-bar {
        height: 15%;
        width: 100%;
    }

        .app .nav-bar .playlist {
            padding-left: 10px;
            width: 20%;
            float: left;
            cursor: pointer;
            font-size: 30px;
            display: inline-block;
        }

        .app .nav-bar .search {
            padding-right: 10px;
            padding-left: 30px;
            width: 20%;
            float: right;
            cursor: pointer;
            font-size: 30px;
            display: inline-block;
        }
/*Search animation*/
input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: FontAwesome;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
}
    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 80%;
    }

.app .up-mp {
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
}

    .app .up-mp .repeat-b {
        width: 20%;
        height: 100%;
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
        padding-top: 150px;
        padding-left: 20px;
        text-align: right;
        //float: left;
    }

    .app .up-mp .title {
        width: 60%;
        height: 100%;
        display: inline-block;
        font-size: 17px;
        font-weight: 400;
        align-content: center;
    }

    .app .up-mp .sound-b {
        width: 20%;
        height: 100%;
        display: inline-block;
        cursor: pointer;
        font-size: 20px;
        padding-top: 150px;
        padding-right: 20px;
        //float: left;
    }

.app .progress-b {
    height: 2px;
    margin: 40px 30px 0px 20px;
    background: rgba(255, 255, 255, 0.3);
}

.app .down-mp {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}

    .app .down-mp .prev-b {
        height: 100%;
        width: 30%;
        display: inline-block;
        cursor: pointer;
        font-size: 30px;
        padding-left: 30px;
        text-align: right;
    }

    .app .down-mp .pause-b {
        height: 100%;
        width: 40%;
        display: inline-block;
        cursor: pointer;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .app .down-mp .next-b {
        height: 100%;
        width: 30%;
        display: inline-block;
        cursor: pointer;
        font-size: 30px;
        padding-right: 30px;
    }

.app .song-list {
    height: 45%;
    width: 100%;
    display: flex;
    color: antiquewhite;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), center bottom no-repeat;
    background-size: contain cover;
}


div.side-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #333;
    z-index: 98;
    margin-left: -400px;
}

div.side-menu-background {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/music.jpg) center bottom no-repeat;
    background-size: auto 100%;
    opacity: .07;
    z-index: 95;
}

div.side-menu a.close {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 25px;
    color: #FFF;
    z-index: 100;
}

div.side-menu ul {
    margin: 25px 0 0 0;
    z-index: 99 !important;
    position: relative;
}

div.side-menu li {
    color: lightblue;
    padding: 16px 0 13px 28px;
    z-index: 99;
}

    div.side-menu li.active {
        color: #FFF;
    }

    div.side-menu li a {
        color: inherit;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        z-index: 100;
    }

        div.side-menu li a i {
            margin-right: 7px;
        }