body {
}

#app {
    color: antiquewhite;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#nav-bar {
    font-size: 30px;
}

#up-mp {
    font-size: 20px;
    padding-top: 30px;
}

#func-b {
}

#down-mp {
    font-size: 32px;
}

#mp {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../images/moon-boat-night.jpg) center bottom no-repeat;
    background-size: contain cover;
}
#search-button{
	align: right;
}
img{ 
display: inline-block; }
#song-name{
	margin: auto; 
	text-align: center; 
	padding-bottom: 40px; 
	padding-top: 50px
	font-size: 20px;
    font-family: sofiapro-light;
}
#artist-name{
	margin: auto; 
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
    font-family: 
}
.progress-b{
    margin: auto;
    width:20%; 
    height:5px;
}
#song-list {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), center bottom no-repeat;
}

#list-song {
    font-family: sofiapro-light;
    -webkit-text-stroke: 1px;
    color: palegoldenrod;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
}

div.side-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #333;
    z-index: 98;
    margin-left: -10000px;
}

div.side-menu-background {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/music.jpg) center bottom no-repeat;
    background-size: auto 100%;
    opacity: .07;
    z-index: 95;
}

div.side-menu a.close {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 25px;
    color: #FFF;
    z-index: 100;
}

div.side-menu ul {
    margin: 25px 0 0 0;
    z-index: 99 !important;
    position: relative;
}

div.side-menu li {
    color: lightblue;
    padding: 16px 0 13px 28px;
    z-index: 99;
}

    div.side-menu li.active {
        color: #FFF;
    }

    div.side-menu li a {
        color: inherit;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        z-index: 100;
    }

        div.side-menu li a i {
            margin-right: 7px;
        }
